{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}



{% block title%}{{user.username}}{% endblock %}


{% block main %}
    <div class="middle">
        <div class="settings">
            <div class="edit">
                <div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <h2 class="fontt">Change Password</h2>
                        {% for field in form.visible_fields %}
                            {{field | add_class:"textarea1"}}
                        {% endfor %}
                        <input type="submit" class="btn btn-primary fontt" value="Change" />
                    </form>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}