{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}


{% block title%}{{userprofile.user.first_name}} {{userprofile.user.last_name}}{% endblock %}


{% block main %}

    
<div class="middle">
    <div class="wrapper">
        <a href="profile-bg d-block"></a>
        <div>
            <div class="row">
                <div class="row1">
                    <a href="#" class="profile-link">
                        <img src="{% static '/images/profile_photo.png'  %}" class="profile-img" alt="">
                    </a>
                    <div class="profile-marg">
                        <div class="">
                            <p class="profile-name">{{userprofile.user.first_name}} {{userprofile.user.last_name}}</p>
                            <span>
                                <a href="#">@<span>{{userprofile.user.username}}</span></a>
                            </span>
                        </div>
                    </div>
                </div>
                {% if request.user != userprofile.user %}
                    {% if userprofile.unfollow == True %}
                        <a class="btn btn-primary" href="{% url "follow" %}?username={{userprofile.user.username}}&amp;next={{ request.path|urlencode }}">Unfollow</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url "follow" %}?username={{userprofile.user.username}}&amp;next={{ request.path|urlencode }}">Follow</a>
                    {% endif %}
                {% else %}
                    <a class="btn btn-primary" href="#">Edit Profile</a>
                {% endif %}
                
            </div>
            <p>{{userprofile.user.bio}}</p>
            <div class="profile-state">
                <ul class="profile-Arrange">
                    <li class="profile-details">
                        <a href="#">
                            <span class="profile-label d-block">
                                Posts
                            </span>
                            <span class="profile-number">
                                {{userprofile.user.posts}}
                            </span>
                        </a>
                    </li>
                    <li class="profile-details">
                        <a href="#">
                            <span class="profile-label d-block">
                                Followers
                            </span>
                            <span class="profile-number">
                                {{userprofile.user.followers}}
                            </span>
                        </a>
                    </li>
                    <li class="profile-details">
                        <a href="#">
                            <span class="profile-label d-block">
                                Followings
                            </span>
                            <span class="profile-number">
                                {{userprofile.user.followings}}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> 

    <div class="profileposts">
        <div class="post">
            {%for field in userprofile.posts%}
                <div class="photo">
                    <a href="{% url 'post' pk=field.id%}">
                        <img class="pic" src="{{field.image.url}}">
                    </a>
                </div>
            {% empty %}
                <label class="">No posts available</label>
            {%endfor%}
        </div>
    </div>
</div>

<div class="right">

</div> 

    
{% endblock %}