{% extends 'base.html'%}
{% load static %}

{% block title%}{{userprofile.user.first_name}} {{userprofile.user.last_name}}{% endblock %}


{% block main %}


    {% comment %} {{userprofile.username}} {% endcomment %}
    
<div class="middle">
    <div class="wrapper">
        <a href="profile-bg d-block"></a>
        <div>
            <div class="row">
                <div class="row1">
                    <a href="#" class="profile-link">
                        <img src="{% static '/images/profile_photo.png'  %}" class="profile-img" alt="">
                    </a>
                    <div class="profile-marg">
                        <div class="">
                            <p class="profile-name">{{userprofile.user.first_name}} {{userprofile.user.last_name}}</p>
                            <span>
                                <a href="#">@<span>{{userprofile.user.username}}</span></a>
                            </span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" href="#">follow</button>
            </div>
            <p>{{userprofile.user.bio}}</p>
            <div class="profile-state">
                <ul class="profile-Arrange">
                    <li class="profile-details">
                        <a href="#">
                            <span class="profile-label d-block">
                                Posts
                            </span>
                            <span class="profile-number">
                                {{userprofile.user.posts}}
                            </span>
                        </a>
                    </li>
                    <li class="profile-details">
                        <a href="#">
                            <span class="profile-label d-block">
                                Followers
                            </span>
                            <span class="profile-number">
                                {{userprofile.user.followers}}
                            </span>
                        </a>
                    </li>
                    <li class="profile-details">
                        <a href="#">
                            <span class="profile-label d-block">
                                Followings
                            </span>
                            <span class="profile-number">
                                {{userprofile.user.followings}}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> 

    <div class="profileposts">
        <div class="post">
            {%for field in userprofile.posts%}
                <div class="photo">
                    <a href="{% url 'post' pk=field.id%}">
                        <img class="pic" src="{{field.image.url}}">
                    </a>
                </div>
            {%endfor%}
        </div>
    </div>
</div>

    
{% endblock %}