{% extends 'base.html' %}
{% load static %}


{% block title%}Home{% endblock %}


{% block main %}

<div class="middle">
    <!------------------------middle---------------------->
    {% for field in posts %}
        <div class="feeds">
            <div class="feed">
                <div class="head">
                    <div class="user">
                        <div class="profile-photo">
                            <img src="{% static 'images/profile_photo.png' %}">
                        </div>
                        <div class="ingo">
                            <h3>{{field.user.username}}</h3>
                            <small>{{field.creation_time}}</small>
                        </div>
                    </div>
                </div>

                <div class="photo">
                    <img src="{{field.image.url}}" alt="">
                </div>
                <div class="action-button">
                    <div class="interaction-buttons">
                    <span><i class="bi bi-suit-heart"></i></span>  
                    <span class="text-muted">{{field.like_no}} Likes</span>
                    </div>
                </div>
                <div class="caption">
                    <p>
                        <b>
                            {{field.user.username}}
                        </b>
                        {{field.caption}}
                    </p>
                </div>
                
            </div>
        </div>
    {%endfor%}
</div>
<div class="right">
    <!-- ----------------------right---------------------- -->
        <div class="suggestions">
            <div class="heading">
                <h4>Suggestions</h4>
            </div>
            <div class="suggest">            
                <div class="profile-photo">
                    <img src="{% static 'images/profile_photo.png' %}">
                </div>
                <div class="ingo">
                    <h3>Milad Jafary</h3>
                </div>
        </div>
    </div>
</div> 

{% endblock %}