{% extends 'base.html' %}
{% load static %}


{% block title%}Home{% endblock %}


{% block main %}

<div class="middle">
    <!------------------------middle---------------------->
    <div class="feeds">
        <div class="feed">
            <div class="head">
                <div class="user">
                    <div class="profile-photo">
                        <img src="{% static 'images/profile_photo.png' %}">
                    </div>
                    <div class="ingo">
                        <h3>Lana Rhoades</h3>
                        <small>Date and Time</small>
                    </div>
                </div>
            </div>

            <div class="photo">
                <img src="{% static 'images/feed-photo.jpg' %}" alt="">
            </div>
            <div class="action-button">
                <div class="interaction-buttons">
                  <span><i class="bi bi-suit-heart"></i></span>  
                  <span class="text-muted">5 Likes</span>
                </div>
            </div>
            <div class="caption">
                <p>
                    <b>
                        Lana Rhoades
                    </b>
                    Lorem ipsum dolor sit amet.
                </p>
            </div>
            
        </div>
    </div>
</div>
<div class="right">
    <!-- ----------------------right---------------------- -->
        <div class="suggestions">
            <div class="heading">
                <h4>Suggestions</h4>
            </div>
            <div class="suggest">            
                <div class="profile-photo">
                    <img src="{% static 'images/profile_photo.png' %}">
                </div>
                <div class="ingo">
                    <h3>Jordi El Nino Polla</h3>
                </div>
        </div>
    </div>
</div> 

{% endblock %}