{% extends 'base.html' %}
{% load static %}


{% block title%}Home{% endblock %}


{% block main %}

<div class="middle">

    {% include 'feeds.html' %}
    
</div>
<div class="right">
    <!-- ----------------------right---------------------- -->
        <div class="suggestions">
            <div class="heading">
                <h4>Suggestions</h4>
            </div>
            <div class="suggest">            
                <div class="profile-photo">
                    <img src="{% static 'images/profile_photo.png' %}">
                </div>
                <div class="ingo">
                    <h3>Milad Jafary</h3>
                </div>
        </div>
    </div>
</div> 

{% endblock %}


